:root {
    --brand_color: rgb(120, 0, 0);
    --logo_gradient: linear-gradient(45deg, rgb(120, 0, 0), rgb(231, 0, 0));
    --nav_gradient: linear-gradient(45deg, rgb(231, 0, 0), rgb(120, 0, 0));
    --grey_color: #666;
    --white_color: #fff;
    --hover_color: #1dff1d;
    --box_shaow: 0 0 10px rgba(0, 0, 0, 0.3);
    --biscuit_color: blanchedalmond;
}

*,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,
        Helvetica,
        sans-serif;
}


/* logo section */
.logo_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 0;
    background-image: var(--logo_gradient);
}

.logo_section img {
    width: 200px;
}

.left_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
}


.left_section>div>a {
    color: var(--white_color);
    border-right: 1px solid var(--grey_color);
    text-decoration: none;
    padding: 0 0.4rem;
}

.left_section>div a:last-child {
    border-right: 0;
}

.left_section div:last-child {
    color: var(--white_color);
    text-align: right;
}


/* navigation section */
nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 2.5rem;
    background-image: var(--nav_gradient);
}

nav li {
    list-style: none;
}

nav li a {
    color: var(--white_color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--hover_color);
}


/* recipe section */
.recipe_section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.introdcution_section h1,
.recipe_section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: Monotype Corsiva;
    color: var(--brand_color);
}

.recipe_section aside div {
    padding: 0 1rem;
}

.recipe_section>aside .grid_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.recipe_section>aside .grid_images article {
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.1rem;
    color: var(--brand_color);
    cursor: pointer;
}

.recipe_section>aside .grid_images article img {
    width: 100%;
    height: 200px;
    padding: 0.4rem;
    border: 0.3rem solid var(--biscuit_color);
    box-shadow: var(--box_shaow);
    border-radius: 0.375rem;
}


/* quick menu section */
.qucik_menu p {
    padding: 1rem;
    margin: 0.5rem 0;
    background: var(--brand_color);
    color: var(--white_color);
    text-transform: capitalize;
}

.qucik_menu p:hover {
    background: var(--grey_color);
    color: var(--hover_color);
    cursor: pointer;
}


/* introdcution section */
.introdcution_section {
    padding: 1rem;
}

.introdcution_section h1 {
    margin-bottom: 0;
}

.introdcution_section p {
    font-size: 1.1rem;
    text-align: justify;
    padding: 0.5rem;
    color: var(--grey_color);
}

/* footer section */

footer {
    background: var(--brand_color);
    color: var(--white_color);
    padding: 1rem 1rem 1rem 17vh;
}