body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(0, 48, 70);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 900;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px);
    background: #000;
}

.calculator {
    position: relative;
    display: grid;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
}

.calculator input {
    background: transparent;
    color: white;
}

.calculator .value {
    grid-column: span 4;
    height: 80px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span {
    color: #fff;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border: 1px solid rgba(0, 0, 0.1);
}

.calculator span:active {
    color: black;
    background-color: #3bffc7;
}

.calculator span:hover {
    color: black;
    background-color: #3bffc7;
    cursor: pointer;
}

.calculator span.clear {
    grid-column: span 2;
    width: 120px;
    background-color: rgb(0, 68, 255);
}

.calculator span.plus {
    grid-row: span 2;
    height: 120px;
}

.calculator span.equal {
    background-color: rgb(248, 7, 79);
}